@font-face {
    font-family: MyriadPro-Bold;
    src: url(../fonts/MyriadPro-Bold.woff);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100%;
    font-family: 'Lato', sans-serif;
}

a{
	text-decoration: none;
	color: #fff;
}

.container {
    max-width: 1230px;
    margin: 0 auto;
}

ul li {
    list-style: none;
}

/*Header*/

.header {
    color: white;
    background-image: url(../img/headerBG.jpeg);
    background-position: top center;
    background-color: rgba(0, 0, 0, .83);
    background-blend-mode: multiply;
}

.menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: inset 0 -1px 0 0 rgba(255,255,255,0.15);
}

.menu .logo{
    display: block;
	align-items: center;
	transition: 0.3s filter;
}

.nav ul {
    display: flex;
	margin-left: auto;
}

.nav ul li {
    padding-left: 2.15rem;
	padding-right: 2.15rem; 
}

.nav ul li a {
	display: block;
	padding: 37px 0;
	font-size: 1rem;
	border-bottom: 1px solid rgba(255,255,255,0);
	transition: 0.1s border-color linear;
}

.nav ul li a:hover {
	border-color: rgba(255,255,255,1);
}

.banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Georgia;
    font-style: italic;
    font-size: 2rem;
    text-align: center;
    padding-top: 20.5rem;
	padding-bottom: 21.2rem;

}

.banner span {
    font-family: MyriadPro-Bold;
    font-style: initial;
    font-size: 4.5rem;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 0;
}

.banner p {
    margin-top: 0.7rem;
}

.authorization{
    margin-bottom: 0;
	width: 100%;
	font-size: 0;
	background: rgba(57, 208, 131, 0.91);
}

.submit{
    position: relative;
	display: inline-block;
	width: 48.7%;
	padding: 50px 100px;
	text-transform: uppercase;
    font-size: 22px;
    font-weight: 700;
    color: white;
}

.login{
    padding-right: 246px;
	text-align: right;
	background: rgba(32, 55, 71, 0.91);
}

.login::after {
	position: absolute;
	content: '';
	display: block;
	width: 0;
    height: 0;
	top: 0;
	right: -28px;
    border-top: 120px solid rgba(32, 55, 71, 0.91);
    border-right: 28px solid transparent;
}

.register{
    padding-left: 268px;
	text-align: left;
}

.domain{
    display: flex;
    padding-top: 5rem;
    padding-bottom: 5rem;
    flex-direction: column;
    align-items: center;
}

.domain h2 {
    font-size:  1.5rem;
}

.domain h2+p {
    font-family: 'Montserrat-UltraLight', sans-serif;
    padding-top: 1.5rem;
    letter-spacing: 0.7px;
    color: rgba(162, 162, 162, 255);
    margin-bottom: 50px;
}

.domain_form{
    display: flex;
    max-width: 890px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 40px;
    border: 1px solid #d9d9d9;
    color: #d9d9d9;
}

.domain_label {
	margin: 5px 0;
	padding: 8px 15px;
	background-color: transparent;
    color: #cbcbcb;
}

.domain_input {
    margin: 5px 0;
	padding: 10px;
	width: 730px;
	border: 0;
	font-weight: 500;
	background-color: transparent;
    color: #868686;
    border-left: 1px solid #d9d9d9;
    border-right: 1px solid #d9d9d9;
}

.domain_select {
	position: relative;
    margin: 12px auto;
	height: 20px;
    width: 54px;
    border: none;
	color: #cbcbcb;
	background-color: transparent;
	cursor: pointer;
}

.domain_price{
    position: relative;
    max-width: 890px;
    width: 100%;
    text-align: center;
    text-transform: capitalize;
    border-collapse: collapse;
    color: #cbcbcb;
    font-size: 0.875rem;
}

.domain_price tr,
.domain_price td{
    position: relative;
    width: 25%;
    border: 1px solid #d9d9d9;
    padding: 40px 0;
}

.domain_price tr:last-child td:after{
	content: "";
	position: absolute;
	width: 13px;
	height: 13px;
	background-color: #fff;
	top: -7px;
	right: -7px;
}
.domain_price tr:last-child td:last-child:after{
	width: 27px;
	right: 0;
}
.domain_price tr:last-child td:first-child:before{
	content: "";
	position: absolute;
	width: 27px;
	height: 13px;
	background-color: #fff;
	top: -7px;
	left: 0;
}

.packages{
    background-image: url('../img/packagesBG.jpg');
    background-position: top center;
	background-repeat: repeat-x;
}

.packages_items{
    margin: 0;
	padding: 0;
	padding-bottom: 99px;
    display: -webkit-box;
	display: -ms-flexbox;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.package{
    height: 565px;
	width: 255px;
	margin-top: 100px;
	padding: 35px 28px;
	padding-left: 27px;
	border-top: 5px solid grey;
	text-align: center;
	background-color: white;
	-webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.06);
	        box-shadow: 0 3px 10px rgba(0, 0, 0, 0.06);
}

.basic {
	border-color: #f9d423;
}

.normal {
	border-color: #7f8c8d;
}

.big {
	border-color: #f85f40;
}

.biggest {
	border-color: #1abc9c;
}

.infographics{
    position: relative;
	width: 53px;
	height: 53px;
	margin: 0 auto;
	margin-bottom: 21px;
}

.infographics svg{
    position: absolute;
	right: 2px;
	stroke-width: 6px;
	stroke-linecap: round;
}

.infographics i{
    position: absolute;
	display: block;
	top: 20px;
	left: 15px;
}

.fa-anchor{
	color: #f9d423;
}

.fa-star-half-empty{
	color: #7f8c8d;
}

.fa-star{
	color: #f85f40;
}

.fa-diamond{
	color: #1abc9c;
}

.circle{
    fill: none;
    stroke-width: 6;
    stroke-linecap: round;
}

.chart_basic{
    stroke: #f9d423;
}

.chart_normal {
    stroke: #7f8c8d;
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
}
  
.chart_big {
    stroke: #f85f40;
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
}
  
.chart_biggest {
    stroke: #1abc9c;
}

.package_header{
	margin-top: 21px;
	margin-bottom: 18px;
	text-transform: uppercase;
}

.package_table_wrapper {
	padding: 8px 0;
	margin-bottom: 30px;
	border-top: 1px solid #dfdfdf;
	border-bottom: 1px solid #dfdfdf;
}

.package_table {
	width: 200px;
	text-align: left;
}

.package_table_head{
    padding: 8px 0;
    font-weight: 300;
    font-size: 1rem;
	color: #b4b4b4;
}

.package_table_cell{
    text-align: right;
}

.basic .package_table_cell{
    color: #f9d423;
}

.normal .package_table_cell {
	color: #7f8c8d;
}

.big .package_table_cell{
	color: #f85f40;
}

.biggest .package_table_cell{
	color: #1abc9c;
}

.package_price{
	margin: 0 auto;
	padding-bottom: 5px;
	width: 105px;
	font-size: 28px;
	font-weight: 700;
	color: #2c2c2c;
	border-bottom: 3px solid grey;
}

.basic .package_price {
	border-color: #f9d423;
}

.normal .package_price {
	border-color: #7f8c8d;
}

.big .package_price {
	border-color: #f85f40;
}

.biggest .package_price {
	border-color: #1abc9c;
}

.package_dollar {
	font-size: 17px;
	font-weight: 900;
}

.package_month {
	font-size: 13px;
	font-weight: 400;
	color: #8d8d8d;
}

.package_button {
	margin-top: 4px;
	padding: 12px 10px;
	border: 0;
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;
	text-decoration: none;
	background-color: transparent;
	color: #282828;
}

.dashed-border {
	width: 100%;
	height: 2px;
    background-image: -webkit-gradient(linear, left top, right top, color-stop(5%, rgba(255, 255, 255, 0)), color-stop(5%, #d4d4d4), color-stop(40%, #d4d4d4), color-stop(30%, rgba(255, 255, 255, 0)));
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 5%, #d4d4d4 5%, #d4d4d4 40%, rgba(255, 255, 255, 0) 30%);
    background-position: top;
    background-size: 9px 2px;
    background-repeat: repeat-x;
}

