  table {
      border: 3px solid #000000;
      width: 100%;
      text-align: center;
      border-collapse: collapse;
  }

  table td, table th {
      border: 1px solid #000000;
      padding: 5px 4px;
  }

  table tbody td {
      font-size: 20px;
  }

  table thead {
      background: #CFCFCF;
      background: -moz-linear-gradient(top, #dbdbdb 0%, #d3d3d3 66%, #CFCFCF 100%);
      background: -webkit-linear-gradient(top, #dbdbdb 0%, #d3d3d3 66%, #CFCFCF 100%);
      background: linear-gradient(to bottom, #dbdbdb 0%, #d3d3d3 66%, #CFCFCF 100%);
      border-bottom: 3px solid #000000;
  }

  table thead th {
      font-size: 15px;
      font-weight: bold;
      color: #000000;
      text-align: left;
  }

  table tfoot {
      font-size: 14px;
      font-weight: bold;
      color: #000000;
      border-top: 3px solid #000000;
  }

  table tfoot td {
      font-size: 14px;
  }

  .correct {
      background-color: #00ff9d;
  }

  .incorrect {
      background-color: #ff7a7a;
  }

  td:first-child {
      background-color: aqua;
  }

  td:last-child {
      background-color: aqua;
  }

  .tooltip {
      border-bottom: 1px dotted #0077AA;
      cursor: pointer;
  }

  .tooltip::after {
      background: rgba(0, 0, 0, 0.8);
      border-radius: 8px 8px 8px 0px;
      box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
      color: #FFF;
      content: attr(data-tooltip);
      margin-top: -24px;
      opacity: 0;
      padding: 3px 7px;
      position: absolute;
      visibility: hidden;
      transition: all 0.4s ease-in-out;
  }

  .tooltip:hover::after {
      opacity: 1;
      visibility: visible;
  }
